
.card_actual{
    background-color: aquamarine;
}

        .ocultar-celcius{
            display: none;
        }

        .ocultar-farenheit{
            display: none;
        }


        .icono_cloud{
            width: 30px;
            background-color: aqua;
        }