.card_container{
    width: 80%;
    /* height: 300px; */
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
        .search-and-cardAtual-Container{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: ;
        }

                .tab-activate{
                    background-color: black;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-right: 0.2rem;
                    padding-bottom: 0.2rem;
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                }

                .tab-desactivate{
                    background-color: antiquewhite;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-right: 0.2rem;
                    padding-bottom: 0.2rem;
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                }